@import "./color.css";
@import "./loader.css";
@import "./header.css";
@import "./localization.css";
@import "./reserve.css";
@import "./function.css";
@import "./functioning.css";
@import "./restaurant-cards.css";
@import "./footer.css";
@import "./image-menu.css";
@import "./menu.css";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}


/* Small devices (phones, less than 768px) */
 @media (max-width: 767.98px) {
  
} 
* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    
}